<h1>Listing software_types</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @software_types.each do |software_type| %>
  <tr>
    <td><%= software_type.title %></td>
    <td><%= software_type.status %></td>
    <td><%= link_to 'Show', admin_software_type_path(software_type) %></td>
    <td><%= link_to 'Edit', edit_admin_software_type_path(software_type) %></td>
    <td><%= link_to 'Destroy', admin_software_type_path(software_type), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Software type', new_admin_software_type_path %>
