<h1>Listing software_types</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @software_types.each do |software_type| %>
  <tr>
    <td><%= software_type.title %></td>
    <td><%= software_type.status %></td>
    <td><%= link_to 'Show', software_type %></td>
    <td><%= link_to 'Edit', edit_software_type_path(software_type) %></td>
    <td><%= link_to 'Destroy', software_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Software type', new_software_type_path %>
