<%= form_tag '/admin/upload', :multipart => true do %>
  <label for="file">Upload:</label>
  <%= file_field_tag "datafile" %><br />
  <%= select_tag("file_type", "<option>img</option><option>software</option>".html_safe) %>
  <%= submit_tag %>
<% end %>


Images:
<% Resource.images.free.each do |img| %>
	<label><%= img.original_filename %></label>
<% end %>
